__pycache__/
*.py[cod]
.tmp/

venv
__pycache__/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
share
etc

.vscode
.env
jira.md
/review
